.login-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.flex-row{
    display: flex;
}


.form{
    width: 300px;
    height: 290px;
    display: flex;
    justify-content: center;
    /* box-shadow: 2px 0px 5px 2px #212121; */
    background-color: #d0fcfa;
    border-radius: 1em;
    gap: 15px;
    box-shadow: 2px 2px 5px #aaaaaa;
}
.flex-column {
    padding: 20px;
    display: flex;
    flex-direction: column;
 
}
.form-input{
    padding: 9px;
    border: 1px solid rgb(240, 141, 141);
    border-radius: 9px;
}

.button{
    padding: 9px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background-color: #065AD8;
    color: white;
    margin-top: 10px;
}
.text-label{
    font-weight: bold;
    color: black;
}
.error-message{
    color: black;
}