.login-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-row {
    display: flex;
}


.form {
    width: 300px;
    height: 290px;
    display: flex;
    justify-content: center;
    background-color: #ffff;
    border-radius: 1em;
    gap: 15px;
    box-shadow: 1px 1px 5px #aaaaaa;
}

.flex-column {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.form-input {
    padding: 9px;
    border: 2px solid rgb(192, 221, 220);
    border-radius: 9px;
    font-size: 19px;
}

.form-input:focus {
    border: 2px solid #37bdfc;
    outline: none;
}

.button {
    padding: 9px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background-color: #448cf8;
    color: white;
    margin-top: 10px;
}

.button:active {
    background-color: #0B5ED7;

}

.text-label {
    font-weight: bold;
    color: black;
}

.error-message {
    color: black;
}

.container-product-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-list {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;
    height: 100vh;
    margin-left: 250px;
    margin-bottom: 100px;
}

.navbar {
    padding: 10px;
    width: 16%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(137, 214, 201);
    gap: 10px;
    z-index: 999;
    overflow-y: auto;
}

.navbar::-webkit-scrollbar {
    width: 4px;
}

.navbar::-webkit-scrollbar-thumb {
    background-color: #1872fa91;
    border-radius: 15px;
}

.navbar::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.navbar {
    scrollbar-width: thin;
}

.navbar::-moz-scrollbar {
    width: 8px;
}

.navbar::-moz-scrollbar-thumb {
    background-color: #888;
}

.navbar::-moz-scrollbar-track {
    background-color: #f1f1f1;
}

.navbar div {
    padding: 4px;
}

.card-item {
    height: 300px;
}

.card {
    border: 1px solid rgb(155, 255, 233);
    max-width: 200px;
    min-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 309px;
    border-radius: 5px;

}

.card img {
    max-width: 100px;
}

.price {
    color: grey;
    font-size: 22px;
}

.title {
    font-size: 16px;
    min-height: 30px;
    max-height: 30px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #448cf8;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 2px;
}

.card button:hover {
    opacity: 0.8;
}

.checkbox-item {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    gap: 9px;
}

.checkbox-label {
    cursor: pointer;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked {
    accent-color: #448cf8;
}

hr {
    width: 100%;
    border: 1px solid #2483dd42;
    border-radius: 5px;
}

.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.searchbar-input {
    padding: 5px;
    width: 300px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #448cf8;
    font-weight: bold;
}

.searchbar-input:focus {
    border: 2px solid #37bdfc;
    outline: none;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 20em;
}

.material-symbols-outlined {
    color: #448cf8;
    font-size: 30px;
    cursor: pointer;
}